{% extends "base.html" %}
{% block main %}


<h1>Register page</h1>
<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}

        {{ field.label_tag }} 

        {{ field }}
        {% if field.help_text %}
          <p class="help" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
          </p>
        {% endif %}
    </div>
{% endfor %}
    <input type ="submit" value="Register">
</form>


<script>
    window.addEventListener('load',()=>{
        Array.from(document.getElementsByClassName('fieldWrapper'))
        .forEach((element)=>{
            element.classList.add('md-3')
            element.children[0].classList.add('form-label')
            element.children[1].classList.add('form-control')
        })
    })



</script>



{% endblock  %}




