{% load static %}
<nav
            class="navbar navbar-expand-md navbar-light bg-light"
           >
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'image/logo.jpg' %}" class="logo" alt="logo">Qubits</a>
                <button
                    class="navbar-toggler d-lg-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavId"
                    aria-controls="collapsibleNavId"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="/" aria-current="page"
                                >Home
                                <span class="visually-hidden">(current)</span></a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'product_list' %}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/inventory/brand/list/">Brands</a>
                        </li>
                        {% if request.user.is_authenticated and request.user.user_type == 'S' %}
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="dropdownId"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                >Dropdown</a
                            >

                            <div
                                class="dropdown-menu"
                                aria-labelledby="dropdownId"
                            >
                                <a class="dropdown-item" href="{% url 'product_create' %}"
                                    >Create Product</a
                                >
                                <a class="dropdown-item" href="{% url 'brand_create' %}"
                                    >Create Brand</a
                                >
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                    <form class="d-flex my-2 my-lg-0" method = "get" action = "/inventory/search/">
                        <input
                            class="form-control me-sm-2"
                            name = "q"
                            type="text"
                            placeholder="Search"
                        />
                        <button
                            class="btn btn-outline-success my-2 my-sm-0"
                            type="submit"
                        >
                            Search
                        </button>
                    </form>
                    {% if not request.user.is_authenticated %}
                    &nbsp;
                    <a class="btn btn-warning" href="/accounts/login/">Login</a> &nbsp;
                    <a class="btn btn-warning" href="/accounts/register/">Register</a>
                    {% else %}
                    Hello {{ request.user.username }}
                    <a href="{% url 'view_cart' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                    </a>
                    &nbsp;&nbsp;
                    <a class="btn btn-warning" href="/accounts/logout/">Logout</a> &nbsp;
                    {% endif %}
                </div>
            </div>
           </nav>